<h1>Hello There | Sign In </h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="ex: abc@gmail.com " required>

    <input type="password" name="password" placeholder="Password " required>
    <input type="submit" value="Sign In">
</form>