<div>
    <p>
        Hi
        <%= comment.user.name%>!
    </p>
    <br>
    <br>
    <p>Your comment
        <strong>
        <%= comment.content %>
        </strong>just got published on Hello There.</p>

    <p>
        Thanks!
    </p>
</div>